body{
    background-image: url(img.webp);
}
.heading{
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: rgb(255, 149, 0);

}
.main{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: chartreuse;

}

.second{
    display: flex;
    justify-content: center;
    
}

.third{
    font-size: 50px;
    padding: 10px;
    margin-left: 10px;
    background-color: transparent;
    color: chartreuse;
}