body{
    /* background: url(mk.avif) ;
    background-size: cover;
    
    
    background-repeat: no-repeat;
    height: 100vh; */
background-color: chartreuse;
}

/* 
body {
    background-color: rgb(36, 33, 33);
} */

header {
    background-color: rgb(160, 138, 138);
    text-align: center;
    padding: 0.5rem;
    color: aliceblue;
    position:fixed;
    width: 100%;
    opacity:90%;
    
}


main {
    font-family: 'Lobster', cursive;
    display: flex;
    flex-direction: column;
    gap: 0.5rem ;
    align-items: center;
    color: bisque;
    font-size: larger;
    text-align: center;
    padding:5rem;
}

main input{
   text-align:center;
   font-size:larger;
   width:15rem;
}

#cityName {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.4rem;

}

button {
    border-radius: 2rem;
    padding: 0.4rem 0.9rem 0.4rem 0.9rem;
    background-color: rgb(179, 167, 167);
    margin-top: 0.7rem;
    margin-bottom: 0.6rem;
}

#result{
    margin-bottom: 1rem;
    border: 2px solid wheat;
    padding: 0.5rem;
}
 
.weatherDiv{
    border: 3px solid green;
    width: fit-content;
    padding:0.5rem;
    max-width:9rem;
    min-width:9rem;
    min-height:6rem;
    background-color:  rgb(160, 138, 138);
    color:blanchedalmond;
    margin: 0.3rem;
    border-radius: 5px;
    
}

#temperature{
    border: 3px solid rgb(0, 98, 0);
    width: fit-content;
    padding:0.5rem;
    max-width:9rem;
    min-width:9rem;
    min-height:6rem;
    background-color:  rgb(160, 138, 138);
    color:blanchedalmond;
    margin: 5rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}

.article_result{
    border: 3px dashed white;
    padding: 1.5rem;
    background-color:rgb(2, 73, 73);
    
}

.article_result2{
    display: flex;
}

.sky{
    background-color: rgb(211, 197, 197);
    border: 2px solid black;
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 0.5rem;    
    margin-bottom: 0.5rem;
    color: rgb(67, 58, 58);    
}

footer{
        background-color: rgb(160, 138, 138);
        text-align: center;
        padding: 0.5rem;
        color: aliceblue;    
        font-family: 'Lobster', cursive;
}

footer a{
    color: rgb(110, 149, 182);
}



